@tailwind base;
@tailwind components;
@tailwind utilities;

.inner-container {
    height: calc(100vh - 7rem);
}

.max-w-2\/3  {
    max-width: 66.666666%;
}

.max-h-2\/3 {
    max-height: 66.666666%;
}